@using Project_Web.Models;
<style>
    .menu-head-right {
        font-size: 20px;
        margin: 0;
        display: inline;
        margin-left: 10px;
    }
    .menu-head-left {
        margin-left: 10px;
        margin-bottom: 5px;
    }
        .menu-head-left:hover {
            cursor: pointer;
        }

    .menu-locationstore {
        margin-left: 10px;
        margin-top: 10px;
        width: 20%;
        background-color: white;
        border: 1px solid black;
    }

        .menu-locationstore li {
            list-style: none;
        }

        .menu-locationstore a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

    .menu-body > ul > li > a:hover {
        color: gray;
    }

    .sub-menu-body {
        display: none;
    }
</style>
<div class="menu-locationstore">
    <div class="menu-head" id="head">
        <img src="~/images/menu.png" class="menu-head-left" id="image" onclick="OpenMenu()" />
        <div class="menu-head-right">Danh mục các quận</div>
    </div>
    <div class="menu-body">
        <ul class="sub-menu-body" id="sub-menu-body">
            @{
                Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
                var storelist = (from s in _db.Stores
                                 select s.Location).ToList();
                foreach (string s in storelist)
                {
                    <li><a href="#">@s</a></li>
                }              
              }
        </ul>
    </div>
</div>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>
    var flaq = true;
    function OpenMenu() {
        if (flaq == true) {
            document.getElementById('sub-menu-body').style.display = 'block';
            flaq = false;
        }
        else {
            document.getElementById('sub-menu-body').style.display = 'none';
            flaq = true;
        }
    }

    $('#image').hover(function () {
        $('#head').css('background-color', 'red');
    },
        function () {
            $('#head').css('background-color', 'white');
        });

</script>
