* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

label {
    margin: 16px 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    text-transform: uppercase;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 155px 1fr;
    padding-left: 28px;
    padding-right: 28px;
}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

    .form-input:focus {
        border: 1px solid transparent;
        -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
        -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
        -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
        border-image-source: linear-gradient(to right, #9face6, #74ebd5);
        -webkit-border-image-slice: 1;
        border-image-slice: 1;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

.form-submit {
    width: 100%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    background-image: -moz-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -ms-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -o-linear-gradient(to left, #74ebd5, #9face6);
    background-image: -webkit-linear-gradient(to left, #74ebd5, #9face6);
    background-image: linear-gradient(to left, #74ebd5, #9face6);
}

    .form-submit:hover {
        opacity: 0.7;
        transition-delay: 0.2s;
    }

.changepass {
    background-color: white;
    width: 70%;
    margin: 30px 0 30px 0;
}

.changepass-body {
    display: flex;
    justify-content: center;
}

.changepass-form {
    width: 70%;
}

.changepass-account {
    border: 1px solid gray;
    margin: 20px;
}

.button-submit {
    display: grid;
    grid-template-columns: repeat(1, 450px);
    padding-left: 70px;
}
.user-page-sidebar {
    display: flex;
    padding: 84px 0 0 20px;
}

.user-page-username {
    font-weight: 600;
    padding: 20px 0 0 15px;
}

.user-page-avatar img {
    width: 75px;
    height: 75px;
}

.user-page-choose-image {
    margin-top: 20px;
    text-align: center;
}

.text-center {
    padding: 10px;
}

.fa-upload:before {
    margin-right: 5px;
}