* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: lightyellow;
}

.clearfix:after {
    display: block;
    clear: both;
}
/*CSS for header*/
.header .row {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.header {
    width: 98.9%;
}
.input-search{
    border: none;
    font-size: 18px;
    border-bottom: 1px solid gray;
    background-color:lightyellow;   
    margin-right: 10px;
}
    .input-search:focus {
        border: none;
        border-bottom: 1px solid gray;
        outline:none;
    }
    /*Can giua*/
    .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

.image-logo {
    width: 150px;
    height: 150px;
}

.right-menu {
    float: right;
}

.wrapper {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

/*----- Phần menu -----*/
.menu {
    width: 100%;
    margin: 0px auto;
    background: #bf5c71;
    height: 44px;
}

    .menu li {
        margin: 0px;
        list-style: none;
        font-family: 'Ek Mukta';
    }

    .menu a {
        transition: all linear 0.15s;
        color: #919191;
        text-decoration: none;
        float: left;
    }

    .menu li:hover > a, .menu .current-item > a {
        text-decoration: none;
        color: #be5b70;
    }

    .menu .arrow {
        font-size: 11px;
        line-height: 0%;
    }
    /*----- css cho phần menu cha -----*/
    .menu > ul > li {
        display: inline-block;
        position: relative;
        font-size: 16px;
    }

        .menu > ul > li > a {
            padding: 10px 40px;
            display: inline-block;
            color: white;
        }

        .menu > ul > li:hover > a, .menu > ul > .current-item > a {
            background: #2e2728;
        }
    /*----css cho menu con----*/
    .menu li:hover .sub-menu {
        z-index: 1;
        opacity: 1;
    }

.sub-menu {
    width: 150%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2e2728;
}

    .sub-menu li {
        display: block;
        font-size: 16px;
    }

        .sub-menu li a {
            padding: 10px 30px;
            display: block;
        }

            .sub-menu li a:hover, .sub-menu .current-item a {
                background: #3e3436;
            }

.menu li:hover .sub-menu-information {
    z-index: 1;
    opacity: 1;
}

.sub-menu-information {
    width: 100%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    background: #2e2728;
}

.right-menu .sub-menu-information li {
    display: block;
    font-size: 16px;
}

    .right-menu .sub-menu-information li a {
        padding: 10px 30px;
        display: block;
    }

        .right-menu .sub-menu-information li a:hover, .right-menu .sub-menu-information .current-item a {
            background: #3e3436;
        }


.fa-home:before, .fa-user:before, .fa-info:before {
    padding-right: 5px;
}

.row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.header {
    width: 100%;
}

.text-col-right {
    display: flex;
    padding: 5px 0 5px 0;
}

.shopping-cart {
    padding: 5px 5px;
    border: 2px solid black;
    margin: 5px 0 5px 7px;
}

    .shopping-cart:after {
        content: "";
        position: absolute;
        height: 20px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-style: solid;
        border-width: 14px;
        color: white;
        z-index: 1000;
        left: 59%;
        bottom: 31%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s linear;
    }

.number-shopping-cart {
    background: rgb(253, 216, 53);
    height: 20px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    margin-left: 9px;
    font-size: 12px;
    padding: 0px 6px;
    font-weight: 700;
}

.text-shopping-cart {
    font-weight: 500;
    white-space: nowrap;
}

.fa-shopping-cart:before {
    margin-right: 7px;
}

.change-web-shopping {
    color: black;
    opacity: 0.5;
}

    .change-web-shopping:hover {
        text-decoration: none;
        color: black;
        opacity: 1;
    }

        .change-web-shopping:hover .info-shopping-cart {
            opacity: 1;
            visibility: visible;
            margin-top: 5px;
            height: unset;
            padding: 23px 23px 23px 23px;
            transition-delay: 0.3s;
        }

        .change-web-shopping:hover .shopping-cart:after {
            opacity: 1;
            visibility: visible;
        }

.info-shopping-cart {
    width: 90%;
    height: 0;
    background-color: white;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    left: 15px;
    visibility: hidden;
    transition: 0.3s linear;
    border-radius: 10px;
}

.info-image-shopping-cart {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text-shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-shopping-cart .info-image-shopping-cart img {
    width: 50px;
    height: 50px;
}
/*Menu đa cấp*/
.menu-head {
    background-color: white;
    border: 1px solid black;
    width: 256px;
}

.menu-head-right {
    font-size: 20px;
    margin: 0;
    display: inline;
    margin-left: 10px;
    text-transform: uppercase;
}

.menu-head-left {
    margin-left: 10px;
    margin-bottom: 5px;
}

.menu-head:hover {
    cursor: pointer;
}

.menu-locationstore {
    margin-left: 10px;
    margin-top: 10px;
    width: 23%;
}

    .menu-locationstore li {
        list-style: none;
    }

    .menu-locationstore a {
        text-decoration: none;
        color: gray;
        font-size: 20px;
    }

.menu-body {
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
    width: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

    .menu-body > ul > li > a:hover {
        color: black;
        font-weight: bold;
    }

.sub-menu-around {
    position: relative;
    left: 198px;
    top: -43px;
    border: 0.25px solid gray;
    width: 300px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.2s;
}

.sub-menu-location {
}

    .sub-menu-location li {
        position: relative;
    }

li:hover .sub-menu-around {
    transition-delay: 0.5s;
    visibility: visible;
    opacity: 1;
}

.sub-menu-location li a {
    display: block;
}

    .sub-menu-location li a:hover {
        display: block;
        color: black;
        font-weight: bold;
    }

.menu-locationstore .menu-location:hover {
    background-color: lightblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s linear;
    cursor: pointer;
}

.menu-locationstore .menu-location {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.menu-location:before {
    content: "";
    opacity: 0;
    visibility: hidden;
    height: 20px;
    position: absolute;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-style: solid;
    border-width: 20px;
    color: lightblue;
    left: 209px;
    z-index: 1000;
    transition: 0.3s linear;
}

.menu-location:hover::before {
    visibility: visible;
    opacity: 1;
}
/*Show hình ảnh với transition*/
.body-menu {
    display: flex;
}

.menu-parialview {
    z-index: 1000;
}

.menu-dish {
    padding-top: 3.8%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-right: 1%;
}

.contentProducts {
    padding: 10px;
    background-color: lightgray;
    border-radius: 4px;
}

    .contentProducts:hover {
        cursor: pointer;
        text-decoration: none;
    }

/*Transition hình ảnh*/
.contentProducts-image img {
    width: 230px;
    height: 230px;
    opacity: 1;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

    .contentProducts-image img:hover {
        -webkit-box-shadow: 0px 0px 15px 15px #fff;
        box-shadow: 0px 0px 15px 15px #fff;
        border-radius: 50%;
        opacity: 0.5;
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }

/*Transition Text*/
.contentProducts-image {
    position: relative;
}

    .contentProducts-image .imgredient {
        position: absolute;
        top: 10%;
        left: 3%;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: lightyellow;
        font-weight: bold;
        opacity: 0;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

        .contentProducts-image .imgredient:hover {
            font-weight: bold;
            text-shadow: 5px 5px 5px black;
        }

    .contentProducts-image:hover .imgredient {
        opacity: 1;
    }

.contentProducts .contentProducts-title {
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.fa-cart-plus {
    font-size: 25px;
    color: gray;
    margin-left: 5px;
}

    .fa-cart-plus:hover {
        color: black;
    }

.contentProducts-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

    .contentProducts-price .contentProducts-priceOriginal {
        color: black;
        font-size: 18px;
    }

/*Paging for menu*/
.paging {
    margin-top: 20px;
}

.paging-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paging-choose {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS for category*/
.category{
    margin-top: 10px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.category-background{
    background-color:white;
    width: 90%;
    padding:  20px;
}
/*end*/
/*CSS for load*/
.load {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 1000;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite ;
  border-color: lightgray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*end*/
