* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    min-height: 100vh;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}
/*CSS for header*/
.row {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.header {
    width: 98.9%;
}
/*Can giua*/
.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.image-logo {
    width: 150px;
    height: 150px;
}
/*Progress Bar*/
.progress-bar-design {
    margin-top: 60px;
    padding-left: 94px;
}

.progressbar {
    counter-reset: step;
    padding: 0;
}

    .progressbar li {
        float: left;
        list-style: none;
        position: relative;
        text-align: center;
        width: calc(100% / 5);
    }

        .progressbar li:before {
            background: #fff;
            border: 2px solid #bebebe;
            border-radius: 50%;
            color: #bebebe;
            content: counter(step);
            counter-increment: step;
            display: block;
            font-weight: 700;
            height: 30px;
            line-height: 27px;
            margin: 0 auto 10px;
            text-align: center;
            width: 30px;
        }

        .progressbar li:after {
            background: #979797;
            content: '';
            height: 3px;
            left: -50%;
            position: absolute;
            top: 15px;
            width: 100%;
            z-index: -1;
        }

        .progressbar li.active:after,
        .progressbar li.complete:after {
            background: #3aac5d;
        }

        .progressbar li.active:before,
        .progressbar li.complete:before {
            background: #3aac5d;
            border-color: #3aac5d;
            color: #fff;
        }

        .progressbar li.active {
            color: #3aac5d;
            font-weight: 700;
        }

        .progressbar li.complete {
            color: #333;
            font-weight: 700;
        }
/*end*/

.container {
    width: 1000px;
    margin-top: 20px;
}

.tab {
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            font-weight: bolder;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    height: 0;
    margin-top: 20px;
    width: 100%;
}

    .tabcontent .button-popup {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

/*CSS for tabcontent top*/
.tabcontent-top-search {
    background-color: white;
    padding: 15px;
}

.fa-search:before {
    font-size: 20px;
}

.fa-search {
    margin: 5px 15px 0 10px;
}

.search {
    border-style: none;
    width: 100%;
    font-size: 20px;
}

    .search:hover {
        border-style: none;
    }


.tabcontent-all-bottom {
    background-color: white;
    margin-top: 10px;
}

th {
    text-align: center;
}

img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.tabcontent-all-bottom-left {
    border: 1px solid gray;
    border-radius: 5px;
}

.table-top {
    display: flex;
    justify-content: space-between;
}
thead{
    background-color: lightgray;
}
.button-sale {
    margin: 10px 0px 0px;
    padding: 4px 12px;
    line-height: 2;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px solid rgb(172, 34, 39);
    outline-color: rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(rgb(239, 57, 89), rgb(215, 32, 65));
}
.table-top-user {
    padding: 5px 0 5px 10px;
    margin-left: 20px;
    font-size: 18px;
}

.table-top-products {
    padding: 5px 0 5px 10px;
    margin-right: 20px;
    font-size: 18px;
}
.table-top{
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.detail{
    text-decoration: none;
}
.detail:hover {
    text-decoration: none;
}
.display-infor{
    display: flex;
}
.text-information{
    margin: 10px;
}

.fa-user-circle-o:before{
    margin-right: 10px;
}
.fa-info-circle:before {
    margin-right: 5px;
}
.none-products {
    display: flex;
    justify-content: center;
    align-items: center;
}
.none-products-cover{
    margin: 20px;
}
.none-products-cover img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}
.none-products-text{
    font-size: 18px;
    font-weight: bold;
}
/*end*/
