* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    min-height: 100vh;
}

.container {
    width: 1000px;
    margin-top: 20px;
}

.tab {
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            font-weight: bolder;
        }

/* Style the tab content */
.tabcontent {
    opacity: 1;
    visibility: visible;
    border-top: none;
    height: 0;
    margin-top: 20px;
    width: 100%;
}

    .tabcontent .button-popup {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

/*CSS for tabcontent top*/
.tabcontent-top-search {
    background-color: white;
    padding: 15px;
}

.fa-search:before {
    font-size: 20px;
}

.fa-search {
    margin: 5px 15px 0 10px;
}

.search {
    border-style: none;
    width: 100%;
    font-size: 20px;
}

    .search:hover {
        border-style: none;
    }


.tabcontent-all-bottom {
    background-color: white;
    margin-top: 10px;
}

th {
    text-align: center;
}

img {
    width: 75px;
    height: 75px;
    margin: 10px;
}

.tabcontent-all-bottom-left {
    border: 1px solid gray;
    border-radius: 5px;
}

.table-top {
    display: flex;
    justify-content: space-between;
}
thead{
    background-color: lightgray;
}
.button-sale {
    margin: 10px 0px 0px;
    padding: 4px 12px;
    line-height: 2;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 1px solid rgb(172, 34, 39);
    outline-color: rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(rgb(239, 57, 89), rgb(215, 32, 65));
}
.table-top-user {
    padding: 5px 0 5px 10px;
    margin-left: 20px;
    font-size: 18px;
}

.table-top-products {
    padding: 5px 0 5px 10px;
    margin-right: 20px;
    font-size: 18px;
}
.table-top{
    background-color: lightgray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.detail{
    text-decoration: none;
}
.detail:hover {
    text-decoration: none;
}
.display-infor{
    display: flex;
}
.text-information{
    margin: 10px;
}

.fa-user-circle-o:before{
    margin-right: 10px;
}
.fa-info-circle:before {
    margin-right: 5px;
}
/*end*/
