* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
}
.tab {
    overflow: hidden;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            font-weight: bolder;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

    .tabcontent .button-popup {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }