* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    min-height: 100vh;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.text-center {
    font-size: 30px;
}
/*CSS for header*/
.row {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.header {
    width: 98.9%;
}
/*Can giua*/
.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
}

.image-logo {
    width: 150px;
    height: 150px;
}
/*Progress Bar*/
.progress-bar-design {
    margin-top: 60px;
    padding-left: 94px;
}

.progressbar {
    counter-reset: step;
    padding: 0;
}

    .progressbar li {
        float: left;
        list-style: none;
        position: relative;
        text-align: center;
        width: calc(100% / 3);
    }

        .progressbar li:before {
            background: #fff;
            border: 2px solid #bebebe;
            border-radius: 50%;
            color: #bebebe;
            content: counter(step);
            counter-increment: step;
            display: block;
            font-weight: 700;
            height: 30px;
            line-height: 27px;
            margin: 0 auto 10px;
            text-align: center;
            width: 30px;
        }

        .progressbar li:after {
            background: #979797;
            content: '';
            height: 3px;
            left: -50%;
            position: absolute;
            top: 15px;
            width: 100%;
            z-index: -1;
        }

        .progressbar li.active:after,
        .progressbar li.complete:after {
            background: #3aac5d;
        }

        .progressbar li.active:before,
        .progressbar li.complete:before {
            background: #3aac5d;
            border-color: #3aac5d;
            color: #fff;
        }

        .progressbar li.active {
            color: #3aac5d;
            font-weight: 700;
        }

        .progressbar li.complete {
            color: #333;
            font-weight: 700;
        }
/*end*/

/*CSS for container left*/
.container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
}

.orderProducts-left {
    width: 60%;
    padding: 10px;
}

.fa-dot-circle-o:before {
    margin-right: 7px;
    color: #0d5cb6;
    font-size: 23px;
}

.orderProducts-left-step1 {
    margin-bottom: 10px;
    padding-top: 15px;
}

.orderProducts-left-step2 {
    margin-bottom: 10px;
    padding-top: 15px;
}

.orderProducts-left-step3 {
    margin-bottom: 10px;
    padding-top: 15px;
}

.orderProducts-left-step1-border1 {
    border: 1px solid gray;
    border-radius: 5px;
}

    .orderProducts-left-step1-border1 .fa {
        padding-top: 15px;
        margin-left: 15px;
        font-size: 15px;
    }

        .orderProducts-left-step1-border1 .fa:hover {
            cursor: pointer;
        }

.orderProducts-left-step1-border2 {
    border: 1px solid gray;
    margin: 30px;
    border-radius: 5px;
    width: 70%;
    margin-left: 50px;
}

    .orderProducts-left-step1-border2 .orderProducts-left-step1-border2-textup {
        padding: 10px 0 0 15px;
        font-weight: 600;
        color: #26bc76;
    }

    .orderProducts-left-step1-border2 .orderProducts-left-step1-border2-textupbottom {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 10px 10px;
    }

    .orderProducts-left-step1-border2 .orderProducts-left-step1-border2-bordercenter {
        border: 1px solid gray;
        margin: 10px;
    }

.orderProducts-left-step1-border2-products {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.orderProducts-left-step1-border2-products-inner {
    margin-bottom: 12px;
    font-size: 13px;
    color: rgb(36, 36, 36);
    position: relative;
    padding-left: 20px;
    font-weight: 300;
    width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    margin-left: 20px;
}

    .orderProducts-left-step1-border2-products-inner:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: rgb(216, 216, 216);
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }

.orderProducts-left-step2-border {
    border: 1px solid gray;
    border-radius: 5px;
}

    .orderProducts-left-step2-border .orderProducts-left-step2-border-input {
        padding: 15px;
    }

        .orderProducts-left-step2-border .orderProducts-left-step2-border-input .fa-square-o:before {
            margin-right: 7px;
            font-size: 23px;
        }

    .orderProducts-left-step2-border .orderProducts-left-step2-border-input-a {
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    .orderProducts-left-step2-border .orderProducts-left-step2-border-input .fa:hover {
        cursor: pointer;
    }

.orderProducts-left-step3-border {
    border: 1px solid gray;
    border-radius: 5px;
}

    .orderProducts-left-step3-border .fa {
        padding: 15px;
        font-size: 20px;
    }

        .orderProducts-left-step3-border .fa:hover {
            cursor: pointer;
        }

        .orderProducts-left-step3-border .fa img {
            margin-right: 10px;
        }

.orderProducts-left-button {
    margin: 10px 0px 0px;
    padding: 4px 12px;
    width: 360px;
    height: 50px;
    line-height: 2;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 1px solid rgb(172, 34, 39);
    outline-color: rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
    background: linear-gradient(rgb(239, 57, 89), rgb(215, 32, 65));
}
/*end*/

/*CSS for container right top*/
.orderProducts-right {
    width: 30%;
    margin-top: 55px;
}

.orderProducts-right-border-up {
    border: 1px solid gray;
    border-radius: 10px;
}

.orderProducts-right-border-cover-up {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.orderProducts-right-border-cover-up-text {
    font-size: 15px;
    margin-top: 5px;
}

.orderProducts-right-border-cover-up-button {
    background-color: #fafafa;
    border-style: none;
    border: 1px solid gray;
    width: 20%;
    opacity: 0.6;
}

    .orderProducts-right-border-cover-up-button:hover {
        opacity: 1;
    }

.orderProducts-right-hr {
    border-bottom: 1px solid gray;
    margin: 15px;
}

.orderProducts-right-border-cover-bottom {
    padding: 0 15px 15px 15px;
}

.orderProducts-right-border-cover-bottom-name {
    font-weight: bold;
    margin-bottom: 5px;
}
/*end*/

/*CSS for container right bottim*/
.orderProducts-right-hr-bold {
    border: 2px solid gray;
    margin: 15px;
}

.orderProducts-right-border-bottom-cover {
    border: 1px solid gray;
    margin-top: 25px;
    border-radius: 10px;
}

.orderProducts-right-border-bottom-top {
    display: flex;
    justify-content: space-between;
    padding: 18px 18px 0 18px;
}

.orderProducts-right-border-bottom-top-text {
    font-size: 15px;
    margin-top: 5px;
}

.orderProducts-right-border-bottom-top-button {
    background-color: #fafafa;
    border-style: none;
    border: 1px solid gray;
    width: 20%;
    opacity: 0.6;
}

    .orderProducts-right-border-bottom-top-button:hover {
        opacity: 1;
    }

.orderProducts-right-border-bottom-center {
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 18px;
}

.orderProducts-right-border-bottom-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 18px 0 18px;
}

.pay-value {
    color: rgb(238, 35, 71);
    font-size: 19px;
    font-weight: 400;
    text-align: right;
}

.text-format {
    font-size: 14px;
}

.text-format-sum {
    font-size: 14px;
    font-weight: bold;
}

.value-format {
    font-size: 14px;
}
/*end*/
