@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <title>Index</title>
    </head>
    <body>
        <div id="chartContainer"></div>
    </body>
    </html>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/Chart_Statistic.js"></script>*@
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Women Nobel Laureates"
	},
	subtitles: [{
		text: "from 1903 to 2015"
	}],
	axisY: {
		title: "Number of Nobel Prizes",
		gridThickness: 0
	},
	data: [{
		type: "bar",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(ViewBag.DataPoints),
	}]
    });
    chart.render();
}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>              