@using Project_Web.Models;
@using Newtonsoft.Json;
@{
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
    List<DataPoint_Name_y> dataPoints = new List<DataPoint_Name_y>();

    var dish = (from m in _db.Menus
                group m by m.Category into mtemp
                select new { Category = mtemp.Key, Counts = mtemp.Count() }).ToList();
    int ToTalDish = _db.Menus.Count();
    foreach (var cato in dish)
    {
        double temp = (double.Parse(cato.Counts.ToString()) / double.Parse(ToTalDish.ToString())) * 100;
        dataPoints.Add(new DataPoint_Name_y(cato.Category, temp));
    }
    ViewBag.DataPoints = JsonConvert.SerializeObject(dataPoints);
}
<div id="chartContainerTotalNumbleofProducts" style="height: 370px; width: 100%;"></div>
<script>
	$('#tabTotalNumberofProducts').click(function () {

		var chart = new CanvasJS.Chart("chartContainerTotalNumbleofProducts", {
			exportEnabled: true,
			animationEnabled: true,
			theme: "light2",
			title: {
				text: "Recomended Diet"
			},
			legend: {
				cursor: "pointer",
				itemclick: explodePie,
				verticalAlign: "center",
				horizontalAlign: "right"
			},
			data: [{
				type: "pie",
				showInLegend: true,
				toolTipContent: "{name}: <strong>{y}%</strong>",
				startAngle: -45,
				indexLabel: "{name} ({y}%)",
				indexLabelFontColor: "#12122B",
				indexLabelPlacement: "inside",
				indexLabelFontSize: 15,
				dataPoints: @Html.Raw(ViewBag.DataPoints),
			}]
		});
		chart.render();
	});
    function explodePie(e) {
        if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();
    }
</script>
