<head>
    <link rel="stylesheet" type="text/css" href="~/Content/ChangePass.css">
</head>
<body>
    <div class="changepass">
        <div class="changepass-background">
            <div class="changepass-body">
                <form class="changepass-form" id="InformationForm">
                    <h1>Đổi mật khẩu</h1>
                    <div class="changepass-account">
                        <div class="form-group">
                            <label>Tên tài khoản:</label>
                            <input type="text" disabled id="Username" name="Username" class="form-input" placeholder="Tên tài khoản" />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            <input type="password" id="Password" name="Password" class="form-input" />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới:</label>
                            <input type="password" id="New_Password" name="New_Password" class="form-input" />
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu:</label>
                            <input type="password" id="Re_Password" name="Re_Password" class="form-input" />
                        </div>
                        <div class="form-group">
                            <div class="button-submit">
                                <input type="submit" name="submit" id="submit" class="form-submit" value="Đổi mật khẩu" />
                            </div>
                        </div>

                    </div>
                </form>
                <div>
                    <div class="user-page-sidebar">
                        <div class="user-page">
                            <a class="user-page-avatar">
                                <img src="~/images/avatar.jpg" />
                            </a>
                        </div>
                        <div class="user-page-right">
                            <div class="user-page-username">
                                tuongkl01
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
