@{
    ViewBag.Title = "Trang chủ";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/HomeStyle.css">
</head>
<body>
    <div class="wrapper">
        <nav class="menu">
            <ul class="clearfix">
                <li><a href="#">Trang chủ</a></li>
                <li>
                    <a href="#">Cài đặt <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu">
                        <li><a href="~/Administrator_Setting/CreateStore">Cài đặt cửa hàng</a></li>
                        <li><a href="~/Administrator_Setting/CreateSeller">Cài đặt người bán hàng</a></li>
                    </ul>
                </li>
                <li><a href="~/SignIn/SignIn">Đăng nhập</a></li>
                <li><a href="~/Register/Register">Đăng ký</a></li>
                <li>
                    <a href="#">Tài khoản <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu-information">
                        <li><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
        <h1>Cửa hàng bán cháo</h1>
</body>
