@model Project_Web.Models.User
@using Project_Web.Models;
@{ 
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<div class="button-popup">
    <button id="open-popup-staff-form" class="form-submit" onclick="openPopupStaffForm()">Thêm nhân viên</button>
    <table class="table table-hover">
        <tr>
            <th>StoreName</th>
            <th>Location</th>
            <th>PhoneNumber</th>
            <th>Email</th>
        </tr>
    </table>
</div>
<div class="signup-content-staff" id="signup-content-staff">
    <div class="signup-background-staff" id="signup-background-staff">
        <span class="remove-icon" id="close-popup-form" onclick="closePopupForm()">x</span>
        <form method="POST" action="/Administrator_Setting/CreateStaff" id="signup-form-staff" class="signup-form">
            <h2 class="form-title">Thêm nhân viên cho cửa hàng</h2>
            <div class="form-group">
                <div class="form-input-staff">
                    <select class="custom-select" id="staff-dropdown" name="Staff" >
                    <option disabled="disabled" selected="selected">Chọn nhân viên</option>
                        @{
                            var user = (from u in _db.Users
                                        join ur in _db.User_Roles on u.IDUser equals ur.IDUser
                                        where ur.IDRole == "R02"
                                        select u.Fullname).ToList();
                            foreach (var u in user)
                            {
                                <option value=@u> @u </option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-input-store">
                    <select class="custom-select" id="store-dropdown" name="Store">
                        <option disabled="disabled" selected="selected">Chọn cửa hàng</option>
                        @{
                            var store = (from s in _db.Stores
                                         select s.StoreName).ToList();
                            foreach (var s in store)
                            {
                                <option value=@s>@s</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Lưu nhân viên" />
            </div>
            <div id="res"></div>
            <div class="textValidation" id="showSuccess">
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>

