@using Project_Web.Models;
@{
    ViewBag.Title = "Tạo chủ cửa hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Content/CreateSeller.css">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-seller-form" action="/Administrator_Setting/CreateSeller" class="signup-form">
                        <h2 class="form-title">Tạo chủ cửa hàng</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="Username" id="Username" placeholder="Nhập tên tài khoản" required />
                        </div>
                        <div id="showError_Username"></div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="Password" id="Password" placeholder="Nhập mật khẩu" required />
                            <span toggle="#Password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div id="showError_Password"></div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Nhập lại mật khẩu" required />
                        </div>
                        <div id="showError"></div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="Fullname" id="Fullname" placeholder="Nhập tên đầy đủ" required />
                        </div>
                        <div id="showError_Fullname"></div>
                        <div class="form-group">
                            <select class="custom-select" name="Province" id="ProvinceSelect">
                                <option disabled selected>Chọn Tỉnh/Thành phố</option>
                                @{
                                    var provinces = (from s in _db.Provinces
                                                     select s).ToList();
                                    foreach (var pro in provinces)
                                    {
                                        <option value="@pro.Name">@pro.Type @pro.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group District" id="District">
                            <select class="custom-select" name="District" id="DistrictSelect">
                                <option disabled selected>Chọn Quận/Huyện</option>
                            </select>
                        </div>
                        <div class="form-group Ward" id="Ward">
                            <select class="custom-select" name="Ward" id="WardSelect">
                                <option disabled selected>Chọn Phường/Xã</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" id="Address" name="Address" placeholder="Nhập địa chỉ của bạn" required />
                        </div>
                        <div id="showError_Address"></div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="Email" id="Email" placeholder="Nhập E-mail của bạn" required />
                        </div>
                        <div id="showError_Email"></div>
                        <div class="form-group">
                            <input type="tel" class="form-input" id="PhoneNumber" name="PhoneNumber" placeholder="Nhập số điện thoại" required />
                        </div>
                        <div id="showError_PhoneNumber"></div>
                        <div class="form-group">
                            <div class="form-input">
                                <select class="custom-select" id="Role" name="Role">
                                    <option disabled="disabled" selected="selected">Chức vụ</option>
                                    <option value="Administrator">Administrator</option>
                                    <option value="Seller">Seller</option>
                                    <option value="Customer">Customer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Tạo tài khoản" />
                        </div>
                    </form>
                    <div class="textValidation">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/CreateSeller.js"></script>