@{
    ViewBag.Title = "Xác minh Email";
}
@model Project_Web.Models.User
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/VerifyEmail.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form method="post" action="/SignIn/VerifyEmail" class="login100-form validate-form">
                    <span class="login100-form-title p-b-34">
                        Verify Email
                    </span>
                    <div class="wrap-input100 rs1-wrap-input100 m-b-20">
                        <input id="email" class="input100" type="email" name="email" placeholder="Nhập email của bạn" required>
                        <span class="focus-input100"></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "textValidation" })
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Verify Email
                        </button>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('../../images/backGroundSignIn.jpg');"></div>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
