@using Project_Web.Models;
@{
    ViewBag.Title = "Quản lý nhập hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Management.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Quản lý nhập hàng</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-background">
            <h1 class="text-center">Danh sách hàng đã nhập</h1>
            <div class="around-table">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Tên kho hàng</th>
                            <th>Tên cửa hàng</th>
                            <th>Địa chỉ</th>
                            <th>Số lượng món ăn</th>
                            <th>Xem chi tiết</th>
                        </tr>
                    </thead>
                    <tbody id="ListData">
                        @{
                            List<Warehouse> warehouses = (from w in _db.Warehouses
                                                          select w).ToList();
                            foreach (var w in warehouses)
                            {
                                var warehouseDetails_quantity = (from wd in _db.WarehouseDetails
                                                                 where wd.IDWarehouse == w.IDWarehouse
                                                                 select wd.Quantity).ToList();
                                var total = warehouseDetails_quantity.Sum();
                                var store = _db.Stores.SingleOrDefault(n => n.IDStore == w.IDStore);
                                <tr>
                                    <td>@w.WarehouseName</td>
                                    <td>@store.StoreName</td>
                                    <td>@w.LocationofWarehouse</td>
                                    <td>@total</td>
                                    <td><button class="btn btn-danger DeleteUser">Xem chi tiết</button></td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/ImportProductsManagement.js"></script>


